[submodule "pack/extensions/start/nvim-lspconfig"]
	path = pack/extensions/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/extensions/start/nord.nvim"]
	path = pack/extensions/start/nord.nvim
	url = https://github.com/shaunsingh/nord.nvim.git
[submodule "pack/extensions/start/nvim-treesitter"]
	path = pack/extensions/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "pack/extensions/start/playground"]
	path = pack/extensions/start/playground
	url = git@github.com:nvim-treesitter/playground.git
[submodule "pack/extensions/start/nvim-autopairs"]
	path = pack/extensions/start/nvim-autopairs
	url = git@github.com:windwp/nvim-autopairs.git
[submodule "pack/extensions/start/nvim-luadev"]
	path = pack/extensions/start/nvim-luadev
	url = git@github.com:bfredl/nvim-luadev.git
[submodule "pack/extensions/start/plenary.nvim"]
	path = pack/extensions/start/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim.git 
[submodule "pack/extensions/start/nvim-treesitter-textobjects"]
	path = pack/extensions/start/nvim-treesitter-textobjects
	url = git@github.com:nvim-treesitter/nvim-treesitter-textobjects.git
[submodule "pack/extensions/start/nvim-treesitter-refactor"]
	path = pack/extensions/start/nvim-treesitter-refactor
	url = git@github.com:nvim-treesitter/nvim-treesitter-refactor.git
[submodule "pack/extensions/start/lua-dev.nvim"]
	path = pack/extensions/start/lua-dev.nvim
	url = https://github.com/folke/lua-dev.nvim.git
  branch = main
[submodule "pack/extensions/start/indent-blankline.nvim"]
	path = pack/extensions/start/indent-blankline.nvim
	url = git@github.com:lukas-reineke/indent-blankline.nvim.git
